<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fake Tencent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82257E571F712D6E00D58A95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82257E6D1F712D6E00D58A95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82257E781F712D6E00D58A95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
